In [1]:
%%HTML

<style> div.jp-Cell-inputWrapper, div.jp-Cell { overflow: auto; border: none; padding: 0px; } </style>

# Voluntary Carbon Report

In [82]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
from IPython.display import HTML

plt.ioff();

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('postgresql://Attunga01:875mSzNM@attunga-instance-1.c6crotlobtrk.us-east-2.rds.amazonaws.com/postgres')

from datetime import datetime, timedelta

sip_products = ['GEO','NGEO','CGEO-TR','CGEO','GEO']

import plotly.graph_objects as go

# Overnight Data

## VCM Markets
## Trades

In [85]:
query = 'select * from \"Project Ratings\"'
broker_markets = pd.read_sql(query, engine)

print(broker_markets)

,Date,Project ID(S),Vintage(S),BeZero Carbon Rating(S),SylveraRating(S),Normalised_Rating
0,2023-02-08 16:00:00,499,2011,AA-,None,0.285714
1,2023-02-08 16:00:00,903,2019,AA-,None,0.285714
2,2023-02-08 16:00:00,1382,2014,AA+,BBB,0.598214
3,2023-02-08 16:00:00,1786,2019,AA-,None,0.285714
4,2023-02-08 16:00:00,1218,2015,AA,BB,0.464286