In [1]:
%%HTML

<style> div.jp-Cell-inputWrapper, div.jp-Cell { overflow: auto; border: none; padding: 0px; } </style>

# Voluntary Carbon Report

In [2]:
#%matplotlib widget

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
#from IPython.core.display import display, HTML
from IPython.display import clear_output, display, HTML

#plt.ioff();

import warnings
warnings.filterwarnings('ignore')

import numpy as np
#from sqlalchemy import create_engine
#engine = create_engine('postgresql://Attunga01:875mSzNM@attunga-instance-1.c6crotlobtrk.us-east-2.rds.amazonaws.com/postgres')

from datetime import datetime, timedelta

from fuzzywuzzy import fuzz

sip_products = ['GEO','NGEO','CGEO-TR','CGEO','GEO']



import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [4]:
## DATA IMPORT CLASS ##
class dataclass():
    def __init__(self):
        self.df_issuance = pd.read_csv('data/VCS_Issuance_Labeled.csv')
        self.df_retirement = pd.read_csv('data/VCS_Retirement_Labeled.csv')
        self.vintage_balances = pd.read_csv('data/Vintage_Balances.csv')
        self.vintage_balances_ngeo = pd.read_csv('data/Vintage_Balances_NGEO.csv')
        self.ngeo_project_balances = pd.read_csv('data/NGEO_Projects_Vintage_Balances.csv')
        self.broker_markets = pd.read_csv('data/Broker_Markets.csv')
        self.vcs_holdings = pd.read_csv('data/VCS_Holdings.csv')
        #self.projects = pd.read_csv('data/VCS_Projects.csv')
        
        
data = dataclass()

In [5]:
class Project_Analysis:
    def __init__(self, PID):
        self.ID = PID
        self.broker_ID = 'VCS ' + str(self.ID)
        
        self.broker_data = data.broker_markets[data.broker_markets['Project ID']==self.broker_ID]
        
        #self.issuance = data.df_issuance
        #self.issuance = self.issuance[self.issuance['Project ID']==self.ID]
        #self.issuance['Year'] = [i.year for i in self.issuance['Issuance Date']]
        #self.issuance['Month'] = [i.month for i in self.issuance['Issuance Date']]
        
        self.issuance = data.df_issuance
        self.issuance['Issuance Date'] = [pd.to_datetime(i).date() for i in data.df_issuance['Issuance Date']]        
        self.issuance = self.issuance[self.issuance['Project ID']==self.ID]
        self.issuance['Year'] = [i.year for i in self.issuance['Issuance Date']]
        self.issuance['Month'] = [i.month for i in self.issuance['Issuance Date']]        
        
        #self.retirement = data.df_retirement
        #self.retirement = self.retirement[self.retirement['Project ID']==self.ID]
        #self.retirement['Year'] = [i.year for i in self.retirement['Date of Retirement']]
        #self.retirement['Month'] = [i.month for i in self.retirement['Date of Retirement']]
        
        self.retirement = data.df_retirement
        self.retirement['Date of Retirement'] = [pd.to_datetime(i).date() for i in data.df_retirement['Date of Retirement']]
        self.retirement = self.retirement[self.retirement['Project ID']==self.ID]
        self.retirement['Year'] = [i.year for i in self.retirement['Date of Retirement']]
        self.retirement['Month'] = [i.month for i in self.retirement['Date of Retirement']]        
        
    def project_balance(self):
        issued = self.issuance.groupby(by=['Project ID','Vintage']).sum().reset_index()
        issued = issued[['Project ID','Vintage','Quantity of Units Issued']]

        retired = self.retirement.groupby(by=['Project ID','Vintage']).sum()['Quantity of Units'].reset_index()
        balance = pd.merge(issued, retired, on=['Project ID', 'Vintage'], how="left")
        balance = balance.fillna(0)
        balance.columns = ['ID', 'Vintage', 'Issued', 'Retired']
        balance['Balance'] = balance.Issued - balance.Retired
        return balance
    
    def issuance_retirement_tables(self):
        retired = self.retirement.groupby(by=['Year','Month']).sum()['Quantity of Units'].reset_index()
        retired = retired.pivot_table('Quantity of Units', 'Month','Year').reset_index()
        retired = retired.fillna(0)
        
        issued = self.issuance.groupby(by=['Year','Month']).sum()['Quantity of Units Issued'].reset_index()
        issued = issued.pivot_table('Quantity of Units Issued', 'Month','Year').reset_index()
        issued = issued.fillna(0)
        return issued, retired
    
    #~~~~~~~~~~~~~~~~~~~~~~~
    # Identifying the top retirees
    #~~~~~~~~~~~~~~~~~~~~~~
    ## Create a fuzzy lookup function
    def match_names(self, name, list_names, min_score=0):
        scores = pd.DataFrame()
        scores['Name'] = list_names
        ratio = []
        for i in scores.Name:
            score = fuzz.ratio(name, i)
            ratio.append(score)
        scores['Ratio'] = ratio
        scores = scores[scores.Ratio>=75]
        return scores
    
    # Use fuzzy function to merge names
    def top_retirees(self):
        retirees = self.retirement.groupby(by=['Beneficial Owner','Year']).sum()['Quantity of Units'].reset_index()
        #retirees = project.retirement.groupby(by=['Beneficial Owner','Year']).sum()['Quantity of Units'].reset_index()
        retirees.columns = ['Name','Retirement Year','Qty Retired']     
        
        owners = list(retirees['Name'].unique())
        
        match_dict = {}
        best_name = {}
        
        for i in owners:
            matches = self.match_names(i, owners)
            #matches = project.match_names(i, owners)
            if len(matches) > 1:
                matches = matches.merge(retirees, on=['Name'], how="left")
                match_dict[i] = matches
                
                year_retired = matches.groupby(by=['Retirement Year']).sum().reset_index()  
                total_retired = matches['Qty Retired'].sum()
                largest_value = max(matches['Qty Retired'])
                name = matches[matches['Qty Retired']==largest_value].reset_index(drop=True)
                name = name.Name[0]
                year_retired['Name'] = name 
                year_retired = year_retired[['Name','Retirement Year','Qty Retired']]
                best_name[name] = year_retired
                
            else:
                final_frame = retirees.copy()
                final_frame.columns = ['Name','Retirement Year','Qty Retired']
                
                retiree_totals = final_frame.groupby(by=['Name']).sum()['Qty Retired'].reset_index()
                retiree_totals.columns = ['Name','Total']
                
                final_frame = final_frame.pivot_table('Qty Retired','Name','Retirement Year')
                
                final_frame = final_frame.merge(retiree_totals, on=['Name'], how='left')
                pass
            
        if len(list(match_dict)) > 1:
            d = { k: v.set_index('Name') for k, v in best_name.items()}    # Conver the Dict into a DF
            
            df = pd.concat(d)
            df = df.droplevel(0)
            df = df.reset_index()
            
            dropnames = list(match_dict)
            retirees = retirees[~retirees.Name.isin(dropnames)]
            
            final_frame = pd.concat([retirees,df])
            final_frame = final_frame.pivot_table('Qty Retired','Name','Retirement Year')
            final_frame = final_frame.fillna(0)
            final_frame['Total'] = final_frame[list(final_frame.columns)].sum(axis=1)
            final_frame = final_frame.reset_index()
            final_frame = final_frame.sort_values(by=['Total'], ascending=False).reset_index(drop=True)
        else:
            pass                

        return final_frame
    
prid = 1748
project = Project_Analysis(prid)

#balance = project.project_balance()
#issuances, retirements = project.issuance_retirement_tables()
#most_retires = project.top_retirees()
#broker_data = project.broker_data

# Overnight Data

## VCM Markets

### Trades

In [6]:
broker_markets = data.broker_markets
broker_markets = broker_markets.iloc[:,1:]
broker_markets['Offer Date'] = [pd.to_datetime(i).date() for i in broker_markets['Offer Date']]
#broker_markets = broker_markets.drop(columns=['Notes', 'Year','Month'])
broker_markets = broker_markets.sort_values(by=['Offer Date'], ascending=False).reset_index(drop=True)
#broker_markets.head()

In [7]:
today = datetime.today()
yest = today - timedelta(days=1)
yesterday = yest.date()

markets_yesterday = broker_markets[broker_markets['Offer Date']==yesterday]
trades_yesterday = markets_yesterday[markets_yesterday['Price Type']=='Trade']
trades_yesterday

Empty DataFrame
Columns: [Project ID, Type, Name, Location, Standard, Volume, Price, Price Type, Broker, Offer Date, LDC, Notes, Year, Month, Vintage]
Index: []

### Bids

In [8]:
bids_yesterday = markets_yesterday[markets_yesterday['Price Type']=='Bid']
bids_yesterday

Empty DataFrame
Columns: [Project ID, Type, Name, Location, Standard, Volume, Price, Price Type, Broker, Offer Date, LDC, Notes, Year, Month, Vintage]
Index: []

### Offers

In [9]:
offers_yesterday = markets_yesterday[markets_yesterday['Price Type']=='Offer']
offers_yesterday.sort_values(by='Price', ascending=False)

Empty DataFrame
Columns: [Project ID, Type, Name, Location, Standard, Volume, Price, Price Type, Broker, Offer Date, LDC, Notes, Year, Month, Vintage]
Index: []

## Recent Notable Issuances and Retirements

In [10]:
cutoff = datetime.today().date() - timedelta(days=30)

### Issuances

In [11]:
df_issuance = data.df_issuance
df_issuance['Issuance Date'] = [pd.to_datetime(i).date() for i in df_issuance['Issuance Date']]
df_issuance = df_issuance[df_issuance['Issuance Date']>=cutoff]
df_issuance = df_issuance.groupby(by=['Issuance Date', 'Project ID', 'Method', 'Project Country/Area', 'Project Name']).sum()['Quantity of Units Issued'].reset_index()
df_issuance = df_issuance[df_issuance['Quantity of Units Issued']>=100000]
df_issuance['Quantity of Units Issued'] = ["{:,}".format(i) for i in df_issuance['Quantity of Units Issued']]
df_issuance.columns = ['Issuance Date','ID','Method','Country','Name','Qty Issued']
df_issuance = df_issuance.sort_values(by=['Issuance Date'], ascending=False).reset_index(drop=True)
df_issuance

,Issuance Date,ID,Method,Country,Name,Qty Issued
0,2023-04-19,30,Hydro,China (CN),Hunan Dongping 72MW Hydropower Project,"207,069"
1,2023-04-19,740,Wind,United States (US),PrairieWinds ND1 (PWND1) Emissions Reduction P...,"124,186"
2,2023-04-18,1654,Avoided Def.,Brazil (BR),Fortaleza Ituxi REDD Project,"126,560"
3,2023-04-17,2342,Cookstoves,Malawi (MW),Installation of high efficiency wood burning c...,"915,838"
4,2023-04-13,1408,Avoided Def.,Kenya (KE),Chyulu Hills REDD+ Project,"315,000"
5,2023-04-06,3018,IFM,Canada (CA),BigCoast Forest Climate Initiative,"1,394,513"
6,2023-04-04,1463,ARR,India (IN),India Sundarbans Mangrove Restoration,"359,796"
7,2023-04-03,2588,Wind,Senegal (SN),Taiba N’Diaye Wind Power,"226,249"
8,2023-03-31,1184,Wind,China (CN),Hebei Chengde Weichang Wuxiangliang Wind Power...,"101,864"
9,2023-03-31,1622,Avoided Def.,Guatemala (GT),REDD+ Project for Caribbean Guatemala: The Con...,"580,000"
10,2023-03-24,2004,Solar,Morocco (MA),Ouarzazate II Concentrated Solar Power Project,"384,236"
11,2023-03-23,2340,Cookstoves,Zambia (ZM),Installation of high efficiency wood burning c...,"218,038"
12,2023-03-22,2691,Waste,China (CN),Aonong AWMS GHG Mitigation Project in Jiangxi ...,"662,540"
13,2023-03-22,2692,Waste,China (CN),Aonong AWMS GHG Mitigation Project in Fujian P...,"590,596"

### Retirements
#### Largest Retirees in the last 30 days:

In [12]:
retirement_cutoff = datetime.today().date() - timedelta(days=30)
print(retirement_cutoff) ## debugging

2023-03-21

 Would be good to be able to do a rough indication of the value of what they're retiring (min, max, mean)

In [13]:
## SPLIT WITH NEXT CELL FOR DEBUGGING ##
df_retirement = data.df_retirement
df_retirement['Date of Retirement'] = [pd.to_datetime(i).date() for i in df_retirement['Date of Retirement']]
df_retirement = df_retirement[(df_retirement['Date of Retirement']>=retirement_cutoff)]
#df_retirement = df_retirement[(df_retirement['Date of Retirement']>=retirement_cutoff) & (df_retirement['Quantity of Units']>=5000)]
df_retirement = df_retirement.groupby(by=['Date of Retirement','Beneficial Owner','Project ID','Method','Project Country/Area','Project Name','Vintage']).sum()['Quantity of Units']
df_retirement = df_retirement.reset_index()
df_retirement = df_retirement.sort_values(by=['Date of Retirement'], ascending=False).reset_index(drop=True)
df_retirement.columns = ['Retirement Date','Beneficial Owner','ID','Method','Country','Name','Vintage','Qty Retired']

df_retirement

,Retirement Date,Beneficial Owner,ID,Method,Country,Name,Vintage,Qty Retired
0,2023-04-20,Compensação de Carbono Ambify,766,Hydro,India (IN),Teesta- V Hydro Power project in Sikkim,2009,1
1,2023-04-19,INT COMMERZBANK GROUP ORGANISATION + SECURITY ...,2059,Solar,India (IN),Renewable Solar Power Project by Mahindra Rene...,2019,5680
2,2023-04-19,4AIR Client,849,Wind,China (CN),Inner Mongolia Ximeng Zheligentu Wind Farm Pha...,2017,10
3,2023-04-19,4AIR Client,1741,Hydro,Turkey (TR),Yumrutepe Regulator and 15.013 MW Hydroelectri...,2016,170
4,2023-04-19,AESBE,1115,Avoided Def.,Brazil (BR),JARI/AMAPÁ REDD+ PROJECT,2017,16
...,...,...,...,...,...,...,...,...
999,2023-03-21,Lianhe Taize (Shanxi) Environmental Science an...,1044,Hydro,China (CN),Ziqiang 18MW Hydropower Project in Guizhou Pro...,2011,1
1000,2023-03-21,Keywords Australia,2252,Avoided Def.,Brazil (BR),Rio Anapu-Pacaja REDD Project,2017,333
1001,2023-03-21,Imprenta Mariscal Cia Ltda.,985,Avoided Def.,Peru (PE),Cordillera Azul National Park REDD Project,2017,1975
1002,2023-03-21,Hanson Australia Pty Limited,1975,Solar,Viet Nam (VN),Hong Phong 4 Solar 48 MW Project,2021,4120
1003,2023-03-21,180 Soluções e Serviços LTDA,1382,Avoided Def.,Brazil (BR),The Envira Amazonia Project - A Tropical Fores...,2014,7

In [22]:
df_retirees = df_retirement.copy()
df_retirees = df_retirees.groupby(by=['Beneficial Owner']).sum()
df_retirees

                                                      ID  Vintage  Qty Retired
Beneficial Owner
16º CMEP (Congresso de Meios Eletrônicos de Pag...  1382     2013           21
180 Soluções e Serviços LTDA                        1382     2014            7
2022 Retirements - Certificate 22/196               1665     2018         4454
4AIR Client                                         2590     4033          180
AA Projects                                         1523     2019           33
...                                                  ...      ...          ...
远景动力技术（江苏）有限公司 Envision Dynamics Technology (Ji...  2810     4040        22319
远景能源有限公司                                             728     2020         3692
远景能源江阴主机二期工厂                                        2082     2020          443
远景能源江阴传动技术工厂                                        2082     2020          111
远景能源河北有限公司                                          2082     2020          409

[607 rows x 3 columns]

In [23]:
print('a')

a

In [24]:

#df_retirees = df_retirees.reset_index()
#df_retirees = df_retirees.sort_values(by=['Qty Retired'], ascending=False).reset_index(drop=True)
#df_retirees

,Beneficial Owner,ID,Vintage,Qty Retired
0,Civitas Resources,23313,44319,1103116
1,CMA CGM,27233,44384,831082
2,Norwegian Cruise Line Holdings Ltd.,12544,24191,450000
3,ESWE Versorgungs AG,8839,26187,376200
4,"Interface, Inc.",11815,18171,344578
...,...,...,...,...
602,Bradesco S/A,1329,2015,1
603,Conservation International - One Billionth VCU...,1408,2020,1
604,Pablo Lama,1903,2020,1
605,Getnet,513,2012,1
606,WinCL Inc.,68,2013,1

In [25]:
print('b')

b

In [26]:
#df_retirees['Qty Retired'] = ["{:,}".format(i) for i in df_retirees['Qty Retired']]
#df_retirees = df_retirees[['Beneficial Owner','Qty Retired']]

#df_retirees.iloc[:20,:]

                                    Beneficial Owner Qty Retired
0                                  Civitas Resources   1,103,116
1                                            CMA CGM     831,082
2                Norwegian Cruise Line Holdings Ltd.     450,000
3                                ESWE Versorgungs AG     376,200
4                                    Interface, Inc.     344,578
5                                 EY Global Services     217,600
6                                          SEAT S.A.     200,687
7                        Recreational Equipment, Inc     198,272
8                       Nicoventures Trading Limited     126,047
9                                 Ecologi Action Ltd      95,000
10                                     BEF Customers      91,585
11                            NATURA COSMÉTICOS S.A.      80,000
12                                     Zenith Energy      75,751
13                                    Fastweb S.p.A.      59,941
14  TotalEnergies Marketing Deutschland GmbH Renewal      53,793
15                                   PRIMAKLIMA e.V.      53,500
16         CONTEMPORARY AMPEREX TECHNOLOGY CO., LTD.      51,289
17      Origin Energy Limited (Under Climate Active)      50,000
18                                   Nedbank Limited      44,000
19                                        Etsy, Inc.      39,491

In [27]:
print('c')

c

TO DO - create a function to search for a beneficial ownder and return their retirement data. This will require fuzzy lookup.
Might as well do fuzzy lookup for the above then...

What projects / vintages / methods are being retired (assign a value?)
USE QUANTUM API to get rough value

In [28]:
x = df_retirement.copy()

This should be a dropdown function (dropdown = [project,method,vintage]

In [15]:
ret_methods = x.copy()
ret_methods = ret_methods.groupby(by=['Method']).sum().reset_index()
ret_methods = ret_methods.sort_values(by=['Qty Retired'], ascending=False)
ret_methods = ret_methods[ret_methods['Qty Retired']>=25000]
ret_methods

             Method      ID  Vintage  Qty Retired
2      Avoided Def.  440658   663088      1546682
7             Hydro  122353   334360      1044623
11            Other   84306   149051       982186
15             Wind  272777   441826       836336
8               IFM   19878    24200       223909
1               ARR  169097   252038       221140
12            Solar  122634   147359       203223
9               LFG    8827    32322       137278
3       Blue Carbon   19764    18170       121158
14            Waste   13807    52438        52386
6   Fugitive Emiss.    1446     2013        26556

In [16]:
ret_projects = x.copy()
ret_projects = ret_projects.groupby(by=['ID','Name','Method','Vintage']).sum().reset_index()
ret_projects = ret_projects.sort_values(by=['Qty Retired'], ascending=False)
ret_projects = ret_projects[ret_projects['Qty Retired']>=25000]
ret_projects

,ID,Name,Method,Vintage,Qty Retired
222,1146,The Hyundai Waste Energy Recovery CO-Generatio...,Other,2014,218196
459,2659,Ruijing Geothermal Based Space Heating System,Other,2021,217600
362,1748,Southern Cardamom REDD+ Project,Avoided Def.,2016,200249
170,981,Pacajai REDD+ Project,Avoided Def.,2012,175043
223,1146,The Hyundai Waste Energy Recovery CO-Generatio...,Other,2015,140000
185,1019,Niksar Hydroelectric Power Plant,Hydro,2015,129427
337,1650,Reduced Emissions from Deforestation and Degra...,Avoided Def.,2019,120860
460,2659,Ruijing Geothermal Based Space Heating System,Other,2022,120071
419,2026,Allain Duhangan Hydroelectric Project (ADHP),Hydro,2017,117952
80,674,Rimba Raya Biodiversity Reserve Project,Avoided Def.,2017,101002
1,10,BAESA Project,Other,2013,100000
186,1019,Niksar Hydroelectric Power Plant,Hydro,2016,93384
124,875,FLORESTAL SANTA MARIA PROJECT,Avoided Def.,2013,91041
363,1748,Southern Cardamom REDD+ Project,Avoided Def.,2017,72550
104,766,Teesta- V Hydro Power project in Sikkim,Hydro,2010,69055
268,1382,The Envira Amazonia Project - A Tropical Fores...,Avoided Def.,2014,65371
260,1340,Bale Mountains Eco-region REDD+ project,Avoided Def.,2015,64214
286,1447,199.70 MW Wind Project in Maharashtra by BWDPL,Wind,2017,63339
71,612,The Kasigau Corridor REDD Project - Phase II T...,Avoided Def.,2019,60000
461,3010,Macaúbas Landfill Gas Project,LFG,2020,60000
171,981,Pacajai REDD+ Project,Avoided Def.,2013,55010
187,1019,Niksar Hydroelectric Power Plant,Hydro,2017,54939
319,1542,Yunnan Kunming Liangqu Improved Forest Managem...,IFM,2019,54174
277,1404,"Vaspet-II and Vaspet-III Wind Power Project, M...",Wind,2019,54085
139,903,Hebei Guyuan County Dongxinying 199.5 MW Wind ...,Wind,2019,54078
338,1664,Yunnan Xishuangbanna Improved Forest Managemen...,IFM,2015,54000
178,985,Cordillera Azul National Park REDD Project,Avoided Def.,2017,53729
320,1542,Yunnan Kunming Liangqu Improved Forest Managem...,IFM,2020,53622
138,903,Hebei Guyuan County Dongxinying 199.5 MW Wind ...,Wind,2011,50000
153,934,The Mai Ndombe REDD+ Project,Avoided Def.,2019,50000
289,1447,199.70 MW Wind Project in Maharashtra by BWDPL,Wind,2021,48340
58,489,44 MW Bundled Wind Power Project in Maharashtr...,Wind,2019,47651
91,728,CECIC Gansu Yumen Changma No.3 Wind Farm Project,Wind,2020,47192
399,1935,Hubei Hongshan IFM (Conversion of Logged to Pr...,IFM,2018,47047
433,2250,Delta Blue Carbon – 1,Blue Carbon,2020,43997
264,1362,Shandan Dongle Beitan 50MW Solar Power Generat...,Solar,2019,43146
345,1686,Agrocortex REDD Project,Avoided Def.,2019,41357
183,1019,Niksar Hydroelectric Power Plant,Hydro,2013,40656
290,1461,Grouped Connect Solar PV Power Generation Proj...,Solar,2017,38904
374,1792,Ghani Solar Renewable Power Project by Greenko...,Solar,2021,36533
278,1404,"Vaspet-II and Vaspet-III Wind Power Project, M...",Wind,2020,36249
201,1066,Damlapinar Hydroelectric Power Plant Project,Hydro,2015,36192
203,1066,Damlapinar Hydroelectric Power Plant Project,Hydro,2017,35262
184,1019,Niksar Hydroelectric Power Plant,Hydro,2014,35255
364,1748,Southern Cardamom REDD+ Project,Avoided Def.,2019,35200
432,2250,Delta Blue Carbon – 1,Blue Carbon,2019,35155
353,1731,CFL lighting scheme Bachat Lamp Yojana,Other,2012,34838
239,1215,The Makira Forest Protected Area in Madagascar,Avoided Def.,2009,34522
430,2250,Delta Blue Carbon – 1,Blue Carbon,2017,32866
41,414,Hebei Haixing 49.5MW Wind Farm Project,Wind,2017,32864
31,318,Clinton Landfill Gas Collection and Combustion...,LFG,2019,31632
340,1669,Bundled Wind Power Project by Giriraj Enterprises,Wind,2018,31595
77,673,Natural High Forest Rehabilitation Project on ...,ARR,2020,30255
418,2026,Allain Duhangan Hydroelectric Project (ADHP),Hydro,2016,28800
112,831,Amayo Phase II Wind Power Project,Wind,2011,28292
335,1650,Reduced Emissions from Deforestation and Degra...,Avoided Def.,2015,27745
202,1066,Damlapinar Hydroelectric Power Plant Project,Hydro,2016,26747
284,1446,Sichuan Furong Coal Mine Methane Utilization P...,Fugitive Emiss.,2013,26556
355,1734,Large scale grid connected solar PV Project in...,Solar,2019,25000

Whose retiring what

In [17]:
z = df_retirement.copy()
z = z.groupby(by=['Retirement Date','Beneficial Owner','ID','Name','Vintage','Method']).sum()
z = z.reset_index()
z = z.sort_values(by=['Qty Retired'], ascending=False)
z = z[z['Qty Retired']>=50000]
z

,Retirement Date,Beneficial Owner,ID,Name,Vintage,Method,Qty Retired
790,2023-03-29,EY Global Services,2659,Ruijing Geothermal Based Space Heating System,2021,Other,217600
845,2023-03-30,Norwegian Cruise Line Holdings Ltd.,1146,The Hyundai Waste Energy Recovery CO-Generatio...,2014,Other,200000
885,2023-03-31,CMA CGM,1748,Southern Cardamom REDD+ Project,2016,Avoided Def.,200000
994,2023-04-03,Civitas Resources,981,Pacajai REDD+ Project,2012,Avoided Def.,174990
1009,2023-04-03,Civitas Resources,1146,The Hyundai Waste Energy Recovery CO-Generatio...,2015,Other,140000
998,2023-04-03,Civitas Resources,1019,Niksar Hydroelectric Power Plant,2015,Hydro,129427
891,2023-03-31,CMA CGM,2659,Ruijing Geothermal Based Space Heating System,2022,Other,120071
1099,2023-04-05,"Interface, Inc.",1650,Reduced Emissions from Deforestation and Degra...,2019,Avoided Def.,100000
842,2023-03-30,Norwegian Cruise Line Holdings Ltd.,10,BAESA Project,2013,Other,100000
354,2023-03-17,Stadtwerke Rostock AG,2026,Allain Duhangan Hydroelectric Project (ADHP),2017,Hydro,100000
999,2023-04-03,Civitas Resources,1019,Niksar Hydroelectric Power Plant,2016,Hydro,93384
991,2023-04-03,Civitas Resources,875,FLORESTAL SANTA MARIA PROJECT,2013,Avoided Def.,91041
91,2023-03-09,Zurich Insurance Company Ltd,674,Rimba Raya Biodiversity Reserve Project,2017,Avoided Def.,72178
886,2023-03-31,CMA CGM,1748,Southern Cardamom REDD+ Project,2017,Avoided Def.,71915
231,2023-03-15,Estra Energie S.r.l.,766,Teesta- V Hydro Power project in Sikkim,2010,Hydro,67771
75,2023-03-09,Luigi Lavazza S.p.A.,1382,The Envira Amazonia Project - A Tropical Fores...,2014,Avoided Def.,65000
879,2023-03-31,CMA CGM,1340,Bale Mountains Eco-region REDD+ project,2015,Avoided Def.,64214
1094,2023-04-05,"Interface, Inc.",612,The Kasigau Corridor REDD Project - Phase II T...,2019,Avoided Def.,60000
828,2023-03-30,Ecologi Action Ltd,3010,Macaúbas Landfill Gas Project,2020,LFG,60000
995,2023-04-03,Civitas Resources,981,Pacajai REDD+ Project,2013,Avoided Def.,55010
1000,2023-04-03,Civitas Resources,1019,Niksar Hydroelectric Power Plant,2017,Hydro,54939
881,2023-03-31,CMA CGM,1542,Yunnan Kunming Liangqu Improved Forest Managem...,2019,IFM,54174
1095,2023-04-05,"Interface, Inc.",903,Hebei Guyuan County Dongxinying 199.5 MW Wind ...,2019,Wind,54078
838,2023-03-30,Nicoventures Trading Limited,1664,Yunnan Xishuangbanna Improved Forest Managemen...,2015,IFM,54000
882,2023-03-31,CMA CGM,1542,Yunnan Kunming Liangqu Improved Forest Managem...,2020,IFM,53622
1096,2023-04-05,"Interface, Inc.",934,The Mai Ndombe REDD+ Project,2019,Avoided Def.,50000
993,2023-04-03,Civitas Resources,903,Hebei Guyuan County Dongxinying 199.5 MW Wind ...,2011,Wind,50000

# Broker Markets
## Our Projects
Need to know where comparable projects have traded. E.g. V19 Mai Ndombe hasnt traded for a while but V19 Kariba traded lastnight @ 11.50  
Add date to the below table

In [18]:
vcs_holdings = data.vcs_holdings.iloc[:,1:]
our_projects = list(vcs_holdings['Project ID'].unique())

df_matches = broker_markets[broker_markets['Project ID'].isin(our_projects)]
vcs_holdings

  Project ID    Product        Country   Method  Price    Qty  Vintage
0   VCS 1522   VCS spot  Cote d'Ivoire    Hydro   6.75  99856     2021
1   VCS 1899  NGEO spot      Indonesia  ARR;WRC  12.15  25000     2019
2    VCS 934  NGEO spot          Congo     REDD   7.00  50000     2019
3    VCS 902  NGEO spot         Kariba     REDD   2.28   2395     2016
4   VCS 2250  NGEO spot     Delta Blue  ARR;WRC  27.50   1174     2016
5   VCS 2250  NGEO spot     Delta Blue  ARR;WRC  28.00   6034     2017
6   VCS 2250  NGEO spot     Delta Blue  ARR;WRC  28.50  14457     2018
7   VCS 2250  NGEO spot     Delta Blue  ARR;WRC  29.50  27861     2019
8   VCS 2250  NGEO spot     Delta Blue  ARR;WRC  30.00  50000     2020
9   VCS 2250  NGEO spot     Delta Blue  ARR;WRC  31.00  40624     2021

In [19]:
DATA_URL = 'https://gist.githubusercontent.com/chriddyp/cb5392c35661370d95f300086accea51/raw/8e0768211f6b747c0db42a9ce9a0937dafcbd8b2/indicators.csv'

EXPLANATION = """\
<div class="app-sidebar">
<p><em>Compare different development indicators.</em><p>

<p>Select what indicators to plot in the dropdowns, and use the slider
to sub-select a fraction of years to include in the plot.</p>

<p>Data and idea copied from the <a href="https://dash.plot.ly/getting-started-part-2">
Plotly Dash documentation</a>.</p>

<p>This example demonstrates combining matplotlib with Jupyter widgets. For more interactive plots,
consider using <a href="https://github.com/bloomberg/bqplot">bqplot</a>.
</div>
"""

In [20]:
HTML("""\
<style>
.app-subtitle {
    font-size: 1.5em;
}

.app-subtitle a {
    color: #106ba3;
}

.app-subtitle a:hover {
    text-decoration: underline;
}

.app-sidebar p {
    margin-bottom: 1em;
    line-height: 1.7;
}

.app-sidebar a {
    color: #106ba3;
}

.app-sidebar a:hover {
    text-decoration: underline;
}
</style>
""")

In [21]:
class Broker_Markets_Ours:
    def __init__(self, df):
        self.df = df.copy()
        projects = list(self.df['Project ID'].unique())
        projects.sort()
        projects.insert(0,'All')
        vins = list(self.df.Vintage.unique())
        vins.sort()
        vins.insert(0,'All')
        offer_types = ['All','Bid','Offer','Trade']
        
        self.project_dropdown = self._generate_dropdown(projects, 0)
        self.vin_dropdown = self._generate_dropdown(vins, 0)
        self.type_dropdown = self._generate_dropdown(offer_types, 0)
        self._plot_container = widgets.Output(layout=widgets.Layout(flex='0 1 auto'))
        
        _app_container = widgets.VBox([
            widgets.HBox([self.project_dropdown, self.vin_dropdown, self.type_dropdown]),
            self._plot_container
        ], layout=widgets.Layout(align_items='flex-start', flex='3 0 auto'))        
        
        self.container = widgets.VBox([
            widgets.HTML(
                (
                    '<h1>Broker Markets on Our Projects</h1>'
                    '<h2 class="app-subtitle"><a href="https://github.com/pbugnion/voila-gallery/blob/master/country-indicators/index.ipynb">Link to code</a></h2>'
                ), 
                layout=widgets.Layout(align_items='flex-start')#margin='0 0 5em 0')
            ),
            widgets.HBox([
                _app_container, 
                #widgets.HTML(EXPLANATION, layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
                widgets.HTML(layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
            ])
        ])#, layout=widgets.Layout(align_items='flex-start'))#,flex='1 1 auto', margin='0 auto 0 auto', max_width='1024px'))
        self.update_app()        
        
    #def _generate_dropdown(self, content, name):
    def _generate_dropdown(self, content, initial_index):        
        #dropdown = widgets.SelectMultiple(options=content, value=[content[0]], description=name, disabled=False)
        dropdown = widgets.Dropdown(options=content, value=content[initial_index])
        dropdown.observe(self.on_change, names=['value'])
        return dropdown
    
    def generate_frame(self,proj,vin,offer):
        if vin=='All':
            if offer=='All':
                sub_df = self.df[self.df['Project ID']==proj]
                if proj=='All':
                    sub_df = self.df.copy()
            elif proj=='All':
                sub_df = self.df[self.df['Price Type']==offer]
            else:
                sub_df = self.df[(self.df['Project ID']==proj) & (self.df['Price Type']==offer)]
        elif offer=='All':
            if proj=='All':
                sub_df = self.df[self.df['Vintage']==vin]
            else:
                sub_df = self.df[(self.df['Project ID']==proj) & (self.df['Vintage']==vin)]
        elif proj=='All':
            if vin=='All':
                sub_df = self.df[self.df['Price Type']==offer]
            else:
                sub_df = self.df[(self.df['Price Type']==offer) & (self.df['Vintage']==vin)]
        else:
            sub_df = self.df[(self.df['Project ID']==proj) & (self.df['Vintage']==vin) & (self.df['Price Type']==offer)]
        sub_df['Date'] = pd.to_datetime(sub_df['Offer Date']).dt.date
        
        sub_df = sub_df[['Date', 'Project ID','Standard','Type','Name','Price Type','Vintage','Price','Volume','Broker']]
        sub_df = sub_df.sort_values(by='Date', ascending=False)
        
        frame_values = []
        for i in list(sub_df):
            frame_values.append(sub_df[i].values.tolist())

            fig = go.Figure(data=[go.Table(
                header=dict(values=list(sub_df.columns),
                            fill_color='paleturquoise',
                            align='left'),
                #cells=dict(values=frame_values,
                #           fill_color='lavender',
                #           align='left')
                cells=dict(
                        values=[sub_df[k].tolist() for k in sub_df.columns])
                )], layout=go.Layout(height=600, width=1000))      
        return fig
    
    def on_change(self, _):
        self.update_app()
        
    def update_app(self):
        project = self.project_dropdown.value
        vintage = self.vin_dropdown.value
        off_type = self.type_dropdown.value
        self._plot_container.clear_output(wait=True)
        with self._plot_container:
            fig = self.generate_frame(project, vintage, off_type)
            fig.show()

In [22]:
app = Broker_Markets_Ours(df_matches)

app.container

VBox(children=(HTML(value='<h1>Broker Markets on Our Projects</h1><h2 class="app-subtitle"><a href="https://gi…

In [23]:
class Broker_Markets_All:
    def __init__(self, df):
        self.df = df.copy()
        self.df = self.df.sort_values(by='Offer Date', ascending=False)
        self.df.rename(columns={'Offer Date':'Date'}, inplace=True)        
        self.df = self.df[['Date','Project ID','Standard','Type','Name','Price Type','Vintage','Price','Volume','Broker']]
        methods = list(self.df['Type'].unique())
        methods.sort()
        methods.insert(0,'All')
        vins = list(self.df.Vintage.unique())
        vins.sort()
        vins.insert(0,'All')
        offer_types = ['All','Bid','Offer','Trade']
        
        self.method_dropdown = self._generate_dropdown(methods, 0)
        self.vin_dropdown = self._generate_dropdown(vins, 0)
        self.type_dropdown = self._generate_dropdown(offer_types, 0)
        self._plot_container = widgets.Output(layout=widgets.Layout(flex='0 1 auto'))
        
        _app_container = widgets.VBox([
            widgets.HBox([self.method_dropdown, self.vin_dropdown, self.type_dropdown]),
            self._plot_container
        ], layout=widgets.Layout(align_items='flex-start', flex='3 0 auto'))        
        
        self.container = widgets.VBox([
            widgets.HTML(
                (
                    '<h1>All Broker OTC Markets</h1>'
                    '<h2 class="app-subtitle"><a href="https://github.com/pbugnion/voila-gallery/blob/master/country-indicators/index.ipynb">Link to code</a></h2>'
                ), 
                layout=widgets.Layout(align_items='flex-start')#margin='0 0 5em 0')
            ),
            widgets.HBox([
                _app_container, 
                #widgets.HTML(EXPLANATION, layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
                widgets.HTML(layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
            ])
        ])#, layout=widgets.Layout(align_items='flex-start'))#,flex='1 1 auto', margin='0 auto 0 auto', max_width='1024px'))
        self.update_app()        
        
    #def _generate_dropdown(self, content, name):
    def _generate_dropdown(self, content, initial_index):        
        #dropdown = widgets.SelectMultiple(options=content, value=[content[0]], description=name, disabled=False)
        dropdown = widgets.Dropdown(options=content, value=content[initial_index])
        dropdown.observe(self.on_change, names=['value'])
        return dropdown
    
    def generate_frame(self,method,vin,offer):
        if vin=='All':
            if offer=='All':
                sub_df = self.df[self.df['Type']==method]
                if method=='All':
                    sub_df = self.df.copy()
            elif method=='All':
                sub_df = self.df[self.df['Price Type']==offer]
            else:
                sub_df = self.df[(self.df['Type']==method) & (self.df['Price Type']==offer)]
        elif offer=='All':
            if method=='All':
                sub_df = self.df[self.df['Vintage']==vin]
            else:
                sub_df = self.df[(self.df['Type']==method) & (self.df['Vintage']==vin)]
        elif method=='All':
            if vin=='All':
                sub_df = self.df[self.df['Price Type']==offer]
            else:
                sub_df = self.df[(self.df['Price Type']==offer) & (self.df['Vintage']==vin)]
        else:
            sub_df = self.df[(self.df['Type']==method) & (self.df['Vintage']==vin) & (self.df['Price Type']==offer)]
        sub_df['Date'] = pd.to_datetime(sub_df['Date']).dt.date
        
        sub_df = sub_df[['Date', 'Project ID','Standard','Type','Name','Price Type','Vintage','Price','Volume','Broker']]
        sub_df = sub_df.sort_values(by='Date', ascending=False)
        
        frame_values = []
        for i in list(sub_df):
            frame_values.append(sub_df[i].values.tolist())

            fig = go.Figure(data=[go.Table(
                header=dict(values=list(sub_df.columns),
                            fill_color='paleturquoise',
                            align='left'),
                #cells=dict(values=frame_values,
                #           fill_color='lavender',
                #           align='left')
                cells=dict(
                        values=[sub_df[k].tolist() for k in sub_df.columns])
                )], layout=go.Layout(height=600, width=1000))      
        return fig
    
    def on_change(self, _):
        self.update_app()
        
    def update_app(self):
        meth = self.method_dropdown.value
        vintage = self.vin_dropdown.value
        off_type = self.type_dropdown.value
        self._plot_container.clear_output(wait=True)
        with self._plot_container:
            fig = self.generate_frame(meth, vintage, off_type)
            fig.show()

## All Broker Markets

In [26]:
app = Broker_Markets_All(broker_markets)

app.container

VBox(children=(HTML(value='<h1>All Broker OTC Markets</h1><h2 class="app-subtitle"><a href="https://github.com…

# Project Specific Analysis

In [27]:
class Project_Info:
    def __init__(self):
        #self.textbox = self._generate_textbox()
        #self.textbox = widgets.Text(description="VCS: ")
        self.textbox = widgets.IntText(value=2250, description="Any")
        self.button = self._generate_button()
        self._plot_container = widgets.Output(layout=widgets.Layout(flex='0 1 auto'))
        
        #self.method_dropdown = self._generate_dropdown(methods, 0)
        #self.vin_dropdown = self._generate_dropdown(vins, 0)
        #self.type_dropdown = self._generate_dropdown(offer_types, 0)
        #self._plot_container = widgets.Output(layout=widgets.Layout(flex='0 1 auto'))
        
        _app_container = widgets.VBox([
            widgets.HBox([self.button, self.textbox]),
            self._plot_container
        ], layout=widgets.Layout(align_items='flex-start', flex='3 0 auto'))        
        
        self.container = widgets.VBox([
            widgets.HTML(
                (
                    '<h1>All Broker OTC Markets</h1>'
                    '<h2 class="app-subtitle"><a href="https://github.com/pbugnion/voila-gallery/blob/master/country-indicators/index.ipynb">Link to code</a></h2>'
                ), 
                layout=widgets.Layout(align_items='flex-start')#margin='0 0 5em 0')
            ),
            widgets.HBox([
                _app_container, 
                #widgets.HTML(EXPLANATION, layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
                widgets.HTML(layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
            ])
        ])#, layout=widgets.Layout(align_items='flex-start'))#,flex='1 1 auto', margin='0 auto 0 auto', max_width='1024px'))
        self.update_app()
        
    
    def _generate_button(self):        
        #dropdown = widgets.Dropdown(options=content, value=content[initial_index])
        #textbox = widgets.Text(description="VCS: ", value=initial_pid)
        button = widgets.Button(description="Run")
        button.on_click(self.on_change, 1748)
        #project = button.on_click(self.on_change)
        return button
        #return project
    
    #def generate_project(self,PID):
    #    project = Project_Analysis(PID)
    #    broker = pd.DataFrame(project.broker_data).iloc[:,1:]    
    #    print(broker)
        
    def generate_project(self,PID):
        project = Project_Analysis(PID)
        broker = pd.DataFrame(project.broker_data).iloc[:,1:]
        
        frame_values = []
        for i in list(broker):
            frame_values.append(broker[i].values.tolist())
            fig = go.Figure(data=[go.Table(
                header=dict(values=list(broker.columns),
                            fill_color='paleturquoise',
                            align='left'),
                cells=dict(
                    values=[broker[k].tolist() for k in broker.columns])
                )], layout=go.Layout(height=600, width=1000))
        return fig
        
    
    def on_change(self, _):
        self.update_app()
        
    def update_app(self):
        pid = self.textbox.value
        pid = int(pid)
        self._plot_container.clear_output(wait=True)
        with self._plot_container:
            figs = self.generate_project(pid)
            figs.show()
        #return fig
    
#    def update_app(self):
#        meth = self.method_dropdown.value
#        vintage = self.vin_dropdown.value
#        off_type = self.type_dropdown.value
#        self._plot_container.clear_output(wait=True)
#        with self._plot_container:
#            fig = self.generate_frame(meth, vintage, off_type)
#            fig.show()

In [28]:
info = Project_Info()
info.container

VBox(children=(HTML(value='<h1>All Broker OTC Markets</h1><h2 class="app-subtitle"><a href="https://github.com…

In [38]:
import seaborn as sns
broker_data = broker_markets.copy()
sns.set_theme(style="darkgrid")
sns.lineplot(x="Unnamed: 0", y="Price", data=broker_data)

ValueError: Could not interpret value `Unnamed: 0` for parameter `x`

In [ ]:
def generate_project(PID):
    project = Project_Analysis(PID)
    broker = pd.DataFrame(project.broker_data).iloc[:,1:]

    frame_values = []
    for i in list(broker):
        frame_values.append(broker[i].values.tolist())
        fig = go.Figure(data=[go.Table(
            header=dict(values=list(broker.columns),
                        fill_color='paleturquoise',
                        align='left'),
            cells=dict(
                values=[broker[k].tolist() for k in broker.columns])
            )], layout=go.Layout(height=600, width=1000))
    return fig

In [ ]:
broker_data.head()

In [ ]:
project.broker_data.head()

In [ ]:
def gen_plot():
    sub = project.broker_data
    sub = sub.Price
    fig = px.line(sub, y="Price")
    return fig
gen_plot()

In [ ]:
z = project.broker_data.copy()
z = z[['Unnamed: 0','Price']]

plt.scatter('Unnamed: 0', 'Price', data=z)
plt.show()

In [ ]:
import plotly.offline as pyo
pyo.init_notebook_mode()

In [ ]:
button = widgets.Button(description='My Button')
textbox = widgets.IntText(value=2250, description="Any")

table_out = widgets.Output()
plot_out = widgets.Output()

def on_button_clicked(_):
    # Linking fn with output
    with table_out:
        # what happens when we press the button
        clear_output()
        pid = textbox.value
        fig = generate_project(pid)
        fig.show()
    with plot_out:
        clear_output()
        fig2 = widgetplot()
        fig2.show()
        
# linking button and function together using a button's method
button.on_click(on_button_clicked)
# displaying button and its output together
widgets.VBox([button,textbox,table_out,plot_out])

In [ ]:

inputs = widgets.HBox([button,textbox])

tab = widgets.Tab([table_out, plot_out])
tab.set_title(0, 'Dataset Exploration')
tab.set_title(1, 'KDE Plot')

dashboard = widgets.VBox([inputs, tab])
display(dashboard)

In [ ]:
button = widgets.Button(description='My Button')
textbox = widgets.IntText(value=2250, description="Any")

table_out = widgets.Output()
plot_out = widgets.Output()

def on_button_clicked(_):
      # "linking function with output"
      with table_out:
          # what happens when we press the button
          clear_output()
          pid = textbox.value
          print(pid)
          #fig = generate_project(pid)
          #fig.show()
      with plot_out:
         clear_output()
         #print('z')
         fig2 = gen_plot()         
         fig2.show()
          
            
# linking button and function together using a button's method
button.on_click(on_button_clicked)
# displaying button and its output together
widgets.VBox([button,textbox,table_out,plot_out])

#~~~~~
# Try with tabs

In [ ]:
inputs = widgets.HBox([button, textbox])
tab = widgets.Tab([table_out, plot_out])
tab.set_title(0, 'Table')
tab.set_title(1, 'Plot')

app = widgets.VBox([inputs,tab])
display(app)

In [ ]:
out1 = widgets.Output()
out2 = widgets.Output()
data1 = pd.DataFrame(np.random.normal(size = 50))
data2 = pd.DataFrame(np.random.normal(size = 100))

tab = widgets.Tab(children = [out1, out2])
tab.set_title(0, 'First')
tab.set_title(1, 'Second')
display(tab)
with out1:
    #fig1, axes1 = plt.subplots()
    #data1.hist(ax = axes1)
    #plt.show(fig1)
    display(broker_data)
with out2:
    fig2, axes2 = plt.subplots()
    data2.hist(ax = axes2)
    plt.show(fig2)

In [ ]:
trace = go.Heatmap(z=[[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
                   x=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                   y=['Morning', 'Afternoon', 'Evening'])
data=[trace]
layout = go.Layout(title='Activity Heatmap')

figure = go.Figure(data=data, layout=layout)

f2 = go.FigureWidget(figure)
f2

In [ ]:
fig = generate_project(bdata)
fig.show()

In [ ]:
# Create a dummy cell to create a graph and try put it as a separate tab in the output
project = Project_Analysis(2250)
bdata = project.broker_data

In [ ]:
def gen_plot(b_data):
    fig = px.line(b_data, y="Price")
    return fig

In [ ]:
display(graph_output)

In [ ]:
tab = widgets.Tab([table_output, graph_output])
tab.set_title(0, 'Dataset Exploration')
tab.set_title(1, 'KDE Plot')
display(tab)

In [ ]:
button = widgets.Button(description="Run")
textbox = widgets.Text(description='VCS:')
#Box = widgets.HBox([button,textbox])

#display(Box)

table_output = widgets.Output()
#display(table_output)

graph_output = widgets.Output()
#display(graph_output)


def on_button_clicked(change):
    #table_output.clear_output()
    #graph_output.clear_output()
    
    PID = int(textbox.value)
    project = Project_Analysis(PID)
    broker_data = pd.DataFrame(project.broker_data).iloc[:,1:]
    
    with table_output:
        ##PID = int(textbox.value)
        ##project = Project_Analysis(PID)
        ##broker_data = pd.DataFrame(project.broker_data).iloc[:,1:]
        #fig = generate_project(broker_data)
        #fig.show()
        print('table output')
        
    
    with graph_output:
        #fig = gen_plot(broker_data)
        #fig.show()
        print('graph_output')

button.on_click(on_button_clicked)

widgets.HBox([button,textbox])

#display(Box)
#out = widgets.Output()
#display(out)

In [ ]:
tab = widgets.Tab([table_output, graph_output])
tab.set_title(0, 'Broker Markets')
tab.set_title(1, 'Price Graph')
display(tab)

In [ ]:
xpoints = np.array([1, 8])
ypoints = np.array([3, 10])

plt.plot(xpoints, ypoints)
plt.show()

In [ ]:
dashboard = widgets.VBox([Box, tab])
display(dashboard)

In [ ]:
ID = 1899
project = Project_Analysis(ID)
display(HTML("""<a href="https://registry.verra.org/app/projectDetail/VCS/{}">Verra Site Link</a>""".format(ID)))

# Issuances and Retirements

## Market Supply

In [ ]:
def balance_subplots(method='All'):
    ## QUERY THE DATA FROM AWS ##
    if method=='All':
        df = data.vintage_balances        
        df = df.groupby(by='Vintage').sum().reset_index()
    elif method=='NGEO':
        df = data.vintage_balances_ngeo
    else:
        df = data.vintage_balances
        df = df[df.Method==method]
        df = df.drop(columns='Method')
    df.columns=['Vintage','Issued','Retired','Balance']
    return df

In [ ]:
fig = make_subplots(rows=1, cols=2, subplot_titles=("All Vintage Balances","NGEO Vintage Balances"))

df_all = balance_subplots(method='All')
for col in list(df_all)[1:]:
#    #print(col)
    fig.add_trace(go.Bar(x=df_all.Vintage, y=df_all[col], name = col), row=1, col=1)
    
df_ngeo = balance_subplots(method='NGEO')
for col in list(df_ngeo)[1:]:
#    #print(col)
    fig.add_trace(go.Bar(x=df_ngeo.Vintage, y=df_ngeo[col], name = col), row=1, col=2)
    
fig.update_layout(height=700, width=1600)
fig.show()

In [ ]:
#ngeo_query = 'select * from \"Vintage_Balances_NGEO\"'
#ngeo_df = pd.read_sql(ngeo_query, engine)

In [ ]:
class Method_Balance_Graphs:
    def __init__(self):
        self.df = data.vintage_balances
        self.df.rename(columns={'Quantity of Units Issued':'Issued','Quantity of Units':'Retired','Remaining':'Balance'}, inplace=True)        
        
        self.ngeo_df = data.vintage_balances_ngeo
        self.ngeo_df.rename(columns={'Quantity of Units Issued':'Issued','Quantity of Units':'Retired','Remaining':'Balance'}, inplace=True)
        
        methods = list(self.df['Method'].unique())
        methods.sort()
        methods.insert(0, 'NGEO')
        
        self.method_dropdown = self._generate_dropdown(methods, 0)
        self._plot_container = widgets.Output(layout=widgets.Layout(flex='0 1 auto'))
        
        _app_container = widgets.VBox([
            widgets.HBox([self.method_dropdown]),
            self._plot_container
        ], layout=widgets.Layout(align_items='flex-start', flex='3 0 auto'))        
        
        self.container = widgets.VBox([
            widgets.HTML(
                (
                    #'<h1>Market Balances by Method</h1>'
                    '<h2 class="app-subtitle"><a href="https://github.com/pbugnion/voila-gallery/blob/master/country-indicators/index.ipynb">Link to code</a></h2>'
                ), 
                layout=widgets.Layout(align_items='flex-start')#margin='0 0 5em 0')
            ),
            widgets.HBox([
                _app_container, 
                #widgets.HTML(EXPLANATION, layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
                widgets.HTML(layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
            ])
        ])#, layout=widgets.Layout(align_items='flex-start'))#,flex='1 1 auto', margin='0 auto 0 auto', max_width='1024px'))
        self.update_app()        
        
    #def _generate_dropdown(self, content, name):
    def _generate_dropdown(self, content, initial_index):        
        #dropdown = widgets.SelectMultiple(options=content, value=[content[0]], description=name, disabled=False)
        dropdown = widgets.Dropdown(options=content, value=content[initial_index])
        dropdown.observe(self.on_change, names=['value'])
        return dropdown
    
    
    def generate_frame(self,method):
        ## QUERY THE DATA FROM AWS ##
        if method=='NGEO':
            df_plot = self.ngeo_df.copy()
            #df_plot = df_plot[df_plot.Method==method]
            #df_plot = df_plot.drop(columns='Method')
            df_plot.columns=['Vintage','Issued','Retired','Balance']            
        else:
            df_plot = self.df.copy()
            df_plot = df_plot[df_plot.Method==method]
            df_plot = df_plot.drop(columns='Method')
            df_plot.columns=['Vintage','Issued','Retired','Balance']
    
        ## GENERATE PLOTLY ##
        # plotly setup
        fig = go.Figure()
        for col in list(df_plot)[1:]:
            fig.add_trace(go.Bar(x=df_plot.Vintage, y=df_plot[col], name = col))

        fig.update_layout(title=dict(text='{} Balance by Vintage'.format(method)), width=1200, height=750)
        return fig    
    
    def on_change(self, _):
        self.update_app()
        
    def update_app(self):
        meth = self.method_dropdown.value
        #vintage = self.vin_dropdown.value
        #off_type = self.type_dropdown.value
        self._plot_container.clear_output(wait=True)
        with self._plot_container:
            fig = self.generate_frame(meth)
            fig.show()

## Market Balances by Method:
Use two dropdowns - first one being "AFOLU" with sub-dropdown being AFOLU types, second being other.. be sure to include 'all'  
Add functionality so that when i select a dropdown below I can see characteristics of key projects (think i have done this in bqnt).. including who are the biggest retirers of the project

In [ ]:
balance_app = Method_Balance_Graphs()
balance_app.container

## NGEO Projects by Vintage

In [ ]:
#query = 'select * from \"NGEO_Projects_Vintage_Balances\"'
#df = pd.read_sql(query, engine)
#df

In [ ]:
class NGEO_Vin_Balance:
    def __init__(self):
        #self.query = 'select * from \"NGEO_Projects_Vintage_Balances\"'
        self.df = data.ngeo_project_balances
        
        vins = list(self.df['Vintage'].unique())
        vins.sort()
        vins.insert(0, 'All')
        
        self.vin_dropdown = self._generate_dropdown(vins, 0)
        self._plot_container = widgets.Output(layout=widgets.Layout(flex='0 1 auto'))
        
        _app_container = widgets.VBox([
            widgets.HBox([self.vin_dropdown]),
            self._plot_container
        ], layout=widgets.Layout(align_items='flex-start', flex='3 0 auto'))        
        
        self.container = widgets.VBox([
            widgets.HTML(
                (
                    #'<h1>Market Balances by Method</h1>'
                    '<h3>Select Vintage</h3>'
                    #'<h2 class="app-subtitle"><a href="https://github.com/pbugnion/voila-gallery/blob/master/country-indicators/index.ipynb">Link to code</a></h2>'
                ), 
                layout=widgets.Layout(align_items='flex-start')#margin='0 0 5em 0')
            ),
            widgets.HBox([
                _app_container, 
                #widgets.HTML(EXPLANATION, layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
                widgets.HTML(layout=widgets.Layout(align_items='flex-start'))#margin='0 0 0 2em'))
            ])
        ])#, layout=widgets.Layout(align_items='flex-start'))#,flex='1 1 auto', margin='0 auto 0 auto', max_width='1024px'))
        self.update_app()        
        
    #def _generate_dropdown(self, content, name):
    def _generate_dropdown(self, content, initial_index):        
        #dropdown = widgets.SelectMultiple(options=content, value=[content[0]], description=name, disabled=False)
        dropdown = widgets.Dropdown(options=content, value=content[initial_index])
        dropdown.observe(self.on_change, names=['value'])
        return dropdown

    
    def generate_plot(self, vin):
        if vin=='All':
            sub_df = self.df.copy()
        else:
            sub_df = self.df.copy()
            sub_df = sub_df[sub_df.Vintage==vin]
        sub_df['Retired'] = sub_df.Retired.astype(int)
        sub_df['Balance'] = sub_df.Balance.astype(int)
        sub_df = sub_df[['Vintage','ID','Name','Country','Method','Issued','Retired','Balance']]
        sub_df = sub_df.sort_values(by=['Issued'], ascending=False)

        n_plot = sub_df[['ID','Issued','Retired','Balance']]
        n_plot['ID'] = n_plot.ID.astype(str)

        fig = go.Figure()
        for col in list(n_plot)[1:]:
            fig.add_trace(go.Bar(x=n_plot.ID, y=n_plot[col], name = col))
        fig.update_layout(height=850, width=1200)
        return fig
    
    def generate_table(self, vin):
        if vin=='All':
            sub_df = self.df.copy()
        else:
            sub_df = self.df.copy()
            sub_df = sub_df[sub_df.Vintage==vin]
        sub_df['Retired'] = sub_df.Retired.astype(int)
        sub_df['Balance'] = sub_df.Balance.astype(int)
        sub_df = sub_df[['Vintage','ID','Name','Country','Method','Issued','Retired','Balance']]
        sub_df = sub_df.sort_values(by=['Issued'], ascending=False)
        
        fig = go.Figure(data=[go.Table(
            columnwidth = [40,40,100,60,60,60,60,60],
            header=dict(values=list(sub_df.columns),
                        fill_color='paleturquoise',
                        align='left'),
            cells=dict(values=[sub_df[i] for i in sub_df],
                       fill_color='lavender',
                       align='left'))
        ], layout=go.Layout(height=600, width=1200))
        return fig
    
    
    def on_change(self, _):
        self.update_app()
        
    def update_app(self):
        meth = self.vin_dropdown.value
        #vintage = self.vin_dropdown.value
        #off_type = self.type_dropdown.value
        self._plot_container.clear_output(wait=True)
        with self._plot_container:
            fig = self.generate_plot(meth)
            fig_table = self.generate_table(meth)
            fig.show()
            fig_table.show()

In [ ]:
ngeo_project_vins = NGEO_Vin_Balance()
ngeo_project_vins.container

## Undesirable NGEO Projects

In [ ]:
query = 'select * from \"NGEO_Undesirable_Projects\"'
df_ngeo_undesirable = pd.read_sql(query, engine)
df_ngeo_undesirable.head()

In [ ]:
ngeo_undesirable_vintage = df_ngeo_undesirable.groupby(by=['Vintage']).sum().reset_index()
ngeo_undesirable_vintage = ngeo_undesirable_vintage.drop(columns=['ID'])

fig = go.Figure()
for col in list(ngeo_undesirable_vintage)[1:]:
    fig.add_trace(go.Bar(x=ngeo_undesirable_vintage.Vintage, y=ngeo_undesirable_vintage[col], name = col))
fig.update_layout(height=500, width=600, title="NGEO Undesirables Vintage Balance")

In [ ]:
fig = go.Figure(data=[go.Table(
    header=dict(values=list(ngeo_undesirable_vintage.columns),
                fill_color='paleturquoise',
                align='left'),
    #cells=dict(values=frame_values,
    #           fill_color='lavender',
    #           align='left')
    cells=dict(
            values=[ngeo_undesirable_vintage[k].tolist() for k in ngeo_undesirable_vintage.columns])
    )], layout=go.Layout(height=600, width=1000))
fig.show()

In [ ]:
ngeo_undesirable_project = df_ngeo_undesirable.groupby(by=['ID']).sum().reset_index()
ngeo_undesirable_project['ID'] = [str(i) for i in ngeo_undesirable_project.ID]
ngeo_undesirable_project = ngeo_undesirable_project.drop(columns=['Vintage'])
ngeo_undesirable_project = ngeo_undesirable_project.sort_values(by='Balance', ascending=False).reset_index(drop=True)
ngeo_undesirable_project.head()

fig = go.Figure()
for col in list(ngeo_undesirable_project)[1:]:
    fig.add_trace(go.Bar(x=ngeo_undesirable_project.ID, y=ngeo_undesirable_project[col], name = col))
fig.update_layout(height=500, width=600, title="NGEO Undesirables Project Balance")

In [ ]:
query = 'select * from \"NGEO_Undesirable_Projects_Dated\"'
df_ngeo_undesirable_dated = pd.read_sql(query, engine)
df_ngeo_undesirable_dated.head()

df_ngeo_undesirable_dated = df_ngeo_undesirable_dated.groupby(by='Retirement Year').sum().reset_index()
df_ngeo_undesirable_dated = df_ngeo_undesirable_dated.drop(columns=['Vintage','Project ID'])
df_ngeo_undesirable_dated.head()

fig = go.Figure()
for col in list(df_ngeo_undesirable_dated)[1:]:
    fig.add_trace(go.Bar(x=df_ngeo_undesirable_dated['Retirement Year'], y=df_ngeo_undesirable_dated[col], name = col))
fig.update_layout(height=500, width=600, title="NGEO Undesirables Dated Issuances & Retirements")

## Broker offer interpolation testings

In [ ]:
broker_markets.head()

In [ ]:
df_broker = broker_markets[broker_markets.Type.str.contains('REDD')]
df_broker = df_broker[df_broker.Vintage==2016].reset_index(drop=True)
df_broker = df_broker[(df_broker['Price Type']=='Trade')]
df_broker.head()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_broker.index, y=df_broker.Price))
fig.update_layout(legend_title_text = "Price")
fig.update_yaxes(title_text="Prices")
fig.show()

In [ ]:
import matplotlib.pyplot as plt

def weightedmovingaverage(Data, period):
    weighted = []
    for i in range(len(Data)):
            try:
                total = np.arange(1, period + 1, 1) # weight matrix
                matrix = Data[i - period + 1: i + 1, 3:4]
                matrix = np.ndarray.flatten(matrix)
                matrix = total * matrix # multiplication
                wma = (matrix.sum()) / (total.sum()) # WMA
                weighted = np.append(weighted, wma) # add to array
            except ValueError:
                pass
    return weighted

In [ ]:
data = df_broker[['Offer Date','Price']]
data = data.set_index('Offer Date')

In [ ]:
weights10 = np.arange(1,11)
weights5 = np.arange(1,6)
weights15 = np.arange(1,16)

In [ ]:
wma10 = data['Price'].rolling(10).apply(lambda prices: np.dot(prices, weights10)/weights10.sum(), raw=True)
wma5 = data['Price'].rolling(5).apply(lambda prices: np.dot(prices, weights5)/weights5.sum(), raw=True)
wma15 = data['Price'].rolling(15).apply(lambda prices: np.dot(prices, weights15)/weights15.sum(), raw=True)

In [ ]:
sma10 = data['Price'].rolling(10).mean()

fig = go.Figure()
fig.add_trace(go.Scatter(y=wma5, name = 'wma5'))
fig.add_trace(go.Scatter(y=wma10, name = 'wma10'))
fig.add_trace(go.Scatter(y=wma15, name = 'wma15'))
fig.add_trace(go.Scatter(y=data['Price'], name = 'Price'))
fig.show()

FIX BELOW SNIPPTE!!

In [ ]:
#weightedmovingaverage(list(df_broker.Price), 5)

## Project Level Analysis
Add functionality to assess a specific project, exactly how i did it in BQNT

## Method Retirement Ratios

In [ ]:
query = 'select * from \"Method_Retirement_Ratios\"'
df = pd.read_sql(query, engine)
df.head()

In [ ]:
z = df[['YY_MM','Method','Retirement_Ratio']]
zz = z.pivot_table('Retirement_Ratio', 'YY_MM', 'Method').reset_index()
zz.head()

# LDC Analysis
extend this functionality for all methods / ngeo etc

In [ ]:
query = 'select * from \"LDC_Project_Balances\"'
df_ldc = pd.read_sql(query, engine)
df_ldc = df_ldc[~(df_ldc.Type=='AFOLU')]

In [ ]:
z = df_ldc.copy()
z = z[~(z.Method=='Cookstoves')]
z = z[~(z.Method=='Fugitive Emiss.')]
z = z.groupby(by='Vintage').sum().reset_index()
z = z[['Vintage','Issued','Retired']]
z['Balance'] = z.Issued - z.Retired
z

In [ ]:
fig = go.Figure()
for col in list(z)[1:]:
#    #print(col)
    fig.add_trace(go.Bar(x=z.Vintage, y=z[col], name = col))
fig.update_layout(title="Balances by Vintage (excl. Fugitive Emissions, Cookstoves)")    
fig.show()

In [ ]:
import plotly.express as px

In [ ]:
method_vin = df_ldc.groupby(by=['Vintage','Method']).sum()['Balance'].reset_index()
method_country = df_ldc.groupby(by=['Country/Area','Method']).sum()['Balance'].reset_index()
method_project = df_ldc.groupby(by=['Project ID','Method']).sum()['Balance'].reset_index()
method_project = method_project.sort_values(by='Balance', ascending=False)
method_project['Project ID'] = method_project['Project ID'].astype(str)

In [ ]:
method_project.head()

CHANGE BELOW TO plotly.go

In [ ]:
#fig = px.bar(method_project, x="Project ID", y="Balance", color="Method", title="Balances by Project ID (non-NB)")
#fig.show()

In [ ]:
#fig = px.bar(method_country, x="Country/Area", y="Balance", color="Method", title="Vintage Balances by Country (non-NB)")
#fig.show()

In [ ]:
#fig = px.bar(method_vin, x="Vintage", y="Balance", color="Method", title="Vintage Balances by Methodology (non-NB)")
#fig.show()

# TO DO
Add a dropdown so that as well as the below graph you can choose a specific method and it shows the issuance and retirement as bars on a secondary axis

In [ ]:
fig = go.Figure()
for col in list(zz)[1:]:
    fig.add_trace(go.Scatter(x=zz.YY_MM, y=zz[col], name = col))
fig.update_layout(title="Retirement to Issuance Ratio by Method")    
fig.show()

In [ ]:
def vintage_balance(method='All'):
    ## QUERY THE DATA FROM AWS ##
    if method=='All':
        query = 'select * from \"Vintage_Balances\"'
        df = pd.read_sql(query, engine)        
        df = df.groupby(by='Vintage').sum().reset_index()
    elif method=='NGEO':
        query = 'select * from \"Vintage_Balances_NGEO\"'
        df = pd.read_sql(query, engine)        
        #df = df.groupby(by='Vintage').sum()
    else:
        query = 'select * from \"Vintage_Balances\"'
        df = pd.read_sql(query, engine)
        df = df[df.Method==method]
        df = df.drop(columns='Method')
    df.columns=['Vintage','Issued','Retired','Balance']
    
    ## GENERATE PLOTLY ##
    # plotly setup
    fig = go.Figure()
    # add trace for eat
    for col in list(df)[1:]:
    #    #print(col)
        fig.add_trace(go.Bar(x=df.Vintage, y=df[col], name = col))

    fig.update_layout(title=dict(text='{} Balance by Vintage'.format(method)))
    fig.show()    
    
    #return df

## Retirement Trends
Is there seasonality in vintage retirements (i.e is there more demand for vintages in December taht are x years less than the average of what has been retired in the last few months)  
Do this via a heatmap / some grid

In [ ]:
df = pd.read_csv('data/Retirements_Monthly_Vintage.csv').iloc[:,1:]
df = df[~(df.Year_Mth=='n_nan')]

In [ ]:
df.head()

UNCOMMENT BELOW ONCE CODE IS RUNNING IN VOILA

In [ ]:
from plotly.subplots import make_subplots

# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x=df.Year_Mth, y=df.Vintage, name="Average Vintage"),
    secondary_y=False,
)

fig.add_trace(
    go.Bar(x=df.Year_Mth, y=df.Quantity, name="Volume"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(
    title_text="Average Vintage of Retirements",
    height=600
)

# Set x-axis title
fig.update_xaxes(title_text="Year_Month")

# Set y-axes titles
fig.update_yaxes(title_text="Vintage", secondary_y=False)
fig.update_yaxes(title_text="Volume", secondary_y=True)

fig.show()

In [ ]:
df.head()

In [ ]:
df.Year_Mth[0][:2]

In [ ]:
df['Year'] = [i[:2] for i in df.Year_Mth]
df['Month'] = [i[-2:] for i in df.Year_Mth]
df = df.drop(columns=['Year_Mth','Quantity'])
df['Year'] = df.Year.astype(int)

In [ ]:
z = df.pivot_table('Vintage','Year','Month')
z

In [ ]:
vals = np.array([])

In [ ]:
#go.Heatmap(x = df.Year, )

In [ ]:
broker_markets.head()

In [ ]:
def broker_offer_type(df, price='Offer'):
    df = df[df['Price Type']==price]
    df['Count'] = 1
    df_vin = df.groupby(by=['Year','Month']).mean()['Vintage'].astype(int).reset_index()
    df_count = df.groupby(by=['Year','Month']).sum()['Count'].reset_index()
    df = df_vin.merge(df_count, on=['Year','Month'])
    df = df.set_index(['Year','Month'])
    df = df[['Vintage','Count']]
    return df

In [ ]:
def broker_method_type(df, price='Offer', project='Off'):
    if project=="Off":
        df = df[df['Price Type']==price]
        df['Count'] = 1
        df_method = df.groupby(by=['Year','Month','Type']).sum()['Count']
        df_method = df_method.reset_index()
        df_method = df_method.sort_values(by=['Year','Month','Count'], ascending=[True,True,False])
        df_method = df_method.set_index(['Year','Month','Type'])
    elif project=="On":
        df = df[df['Price Type']==price]
        df['Count'] = 1
        df_method = df.groupby(by=['Year','Month','Type']).sum()['Count']
        df_method = df_method.reset_index()
        df_method = df_method.sort_values(by=['Year','Month','Count'], ascending=[True,True,False])
        df_method = df_method.set_index(['Year','Month','Type'])        
    return df_method

FIX THE BELOW

In [ ]:
#df = broker_method_type(broker_markets, price='Trade')
#df

In [ ]:
#df_offer_vins = broker_offer_type(broker_markets, price='Offer')
#df_offer_vins

In [ ]:
#df_bid_vins = broker_offer_type(broker_markets, price='Bid')
#df_bid_vins

In [ ]:
#df_trade_vins = broker_offer_type(broker_markets, price='Trade')
#df_trade_vins